@model AddMessageVM

<h2 class="leftMarginSmaller">Add Message</h2>
@{ if (ViewBag.Error != null)
    {
<div class="text-warning">Error saving the message. @ViewBag.Error</div> } }

<form asp-action="AddMessage" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">

    <div class="form-horizontal leftMarginDefault">
        <div class="form-group">
            <input asp-for="Message" placeholder="Message heading" class="form-control"/>
        </div>

        <div class="form-group">
            <input asp-for="MessageBody"  placeholder="Message body" class="form-control" />
        </div>

        <div class="form-group">
            @Html.DropDownListFor(model => model.RecipientId, Model.Users, "Select recipient", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RecipientId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary" value="Add Message" />
            </div>
        </div>
    </div>
</form>
