@using Microsoft.AspNetCore.Http


@if (Context.User.Identity.IsAuthenticated)
{
    <a asp-area="" asp-controller="Message" asp-action="GetMessages">View the message of the day</a>
}
else
{
    <a asp-area="" asp-controller="Home" asp-action="Login">Log in</a>
}


