@using Microsoft.AspNetCore.Http
@model MessageVM

@if (Model != null)
{
<h4 class="caption">Most recent message: </h4>
<div class="pull-right"><b>Heading: </b>@Model.LatestMessage.Message</div>
<p><b>Body: </b>@Model.LatestMessage?.MessageBody</p>
<hr />
<h4 class="caption">Other messages: </h4>

@foreach (var message in Model.RemainingMessages)
    {
<div class="pull-right"><b>Heading: </b> @message.Message</div>
<p><b>Body: </b> @message.MessageBody</p>
    }
<hr />
}
else
{
@if (Context.User.Identity.IsAuthenticated)
    {
<a asp-area="" asp-controller="Home" asp-action="GetMessages">Retrieve the message of the day.</a>
    }
    else
    {
<a asp-area="" asp-controller="Home" asp-action="GetMessages">Log in to retrieve the message of the day.</a>
    }
}

