@using Microsoft.AspNetCore.Http


@if (Context.User.Identity.IsAuthenticated)
{
    <a asp-area="" asp-controller="Message" asp-action="GetMessages">Retrieve the message of the day.</a>
}
else
{
    <a asp-area="" asp-controller="Message" asp-action="GetMessages">Log in to retrieve the message of the day.</a>
}


